@import url(commons.css); 
#other #container {
	background-color: #9dfbf2;
	width: 800px;
}
#other #container #form_dir {
	margin: auto; 
	width: 500px;
	 
}

#other #container #form_dir .item {
 margin: 15px 5px;
 padding: 5px 5px;
 height: 45px;
  
}

#other #container #form_dir .item input[type='checkbox'] {
 width: 56px;
 vertical-align: -6px; 
}

#other #container #form_dir .item .error_message {
	color:red ; 
	font-size: 12px;
	border-bottom: #848685;
}

#other #container #form_dir #submit_item-1 {
	border-top: 1px solid #848685;
    
}

#other #container #form_dir .item .label {
 	color: #848685;
	margin-right: 10px;
	font-size: 21px;
	width: 116px;
}

#other #container #form_dir .item input {
 	background-color: aquamarine;
	outline: none;
	border: 1px solid #4e4e4e; 
	height: 25px;
	width: 342px;
	text-indent: 4px; 
}

#other #container #form_dir .item input[type='submit'] {
	background-color: bisque;
	width: 80px;
	
}

#other #container #form_dir .item input[type='submit']:hover {
	background-color: rebeccapurple;
}

#other #container #form_dir .item .submit_item { 
	 margin-left: 366px ;
	
}

#other #container #form_dir span {
 display: inline-block;
}

