@import url(commons.css);

#other #container {
	 
	margin: auto;
	height: 99%; 
	width: 99%; 
	
}

#other #container #search {
	margin: auto ;  
	width: 501px;
}

#other #container #search input[type='text'] {
	height: 26px ;  
	border: 1px solid black ; 
	border-radius: 0px;
	background-color: white;
	outline-width: 0px;  
	width: 422px;
}

#other #container #search input[type='text']:focus {
	height: 26px ;  
	border-width: 1px ; 
	border: 1px solid black ; 
	border-radius: 0px;
	background-color: white;
	outline-width: 0px;  
	width: 422px;
}

#other #container #search input[type='submit'] {
	 width: 86px ; 
	 height: 26px;
	 padding: 0px;
	 margin: -6px;
     background-color: buttonface;
	 color: buttontext;
	 padding-block: 1px;
	 padding-inline: 6px;
	 border-width: 1px;
	    
}


#other #container #prods {
	margin: 55px 0px ;  
	 
}


#other #container #prods #row {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px 15px 0px ; 
}

#other #container #prods #row #col {
	/* background-color: blue ; */                         
	background-color: lightblue; 
	width: 226px;
	height: 256px;
	margin: 0px 11px;
	font-size: 22px;
	border: 2px solid white ;
	
}

#other #container #prods #row #col div span {
	margin-right: 12px;
}

#other #container #prods #row #col:hover {
   border: 0px solid blue;
}

#other #container #prods #row #col div:nth-child(1) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 34px;
	line-height: 32px;
	text-indent: 6px;
	color: blue ;
	padding-right: 10px;
}
#other #container #prods #row #col div:nth-child(2) {
	 
	height: 192px;
}
#other #container #prods #row #col div:nth-child(3) {
	 
	height: 32px;
	font-size: 16px;
	line-height: 32px;
	text-indent: 6px;
	color: blueviolet ; 
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}

#other #container #prods #row #col img {
	width : 100% ; 
 
}

#other #page {
	height: 55px;
	width: 260px;
	margin: 22px auto 5px auto;
}

#other #page div {
	display: inline-block;
}

#other #page div #currt {
	background-color: rgb(0, 128, 192);
}

#other #page span {
	background-color: #989898;
	width: 26px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin: 2px 1px;
}
#other #page span:hover {
	background-color: white;
}

#other #page #page_1 {
	background-color: inherit;
}


