<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>prod</title>
	<link rel="stylesheet" href="/css/user-change.css" type="text/css" />
</head>

<body>
	<div id='container'>
		<div id='title'>
			<div id='left'>
				<h1>商务Project</h1>
			</div>
			<div id='s_r'>

			</div>
		</div>
        <div id='nav'>
			<div><a href='/'>主页</a>>用户信息</div>
		</div>

		<div id='other'>
			<div id='user_container'>
				<div id='image' alt='用户信息'>
					<img src='/img/ps4.png' />
				</div>
				<div id='context'>
					<div id='context_box'>
						<div>email , 密码 不填默认不会改变！</div>
						<div id='form_'>
						 <form action='/user/message/change/procd' method='post' 
						            enctype="application/x-www-form-urlencoded">
							<div><span>username: </span>
								<div><input type='text' name='username' /></div>
							</div>
							<div><span>password: </span>
								<div><input type='text' name='password' /></div>
							</div>
							<div><span>E-mail: </span>
								<div><input type='text' name='eMail' /></div>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</div>
						   <div id='change'>
							<div> <input type='submit' value='change' /> </div>
						   </div>
						 </form>
						</div>
						<div id='error'>
							<span th:if="${NotEmpty_User_Username!=null}" >Username 不能是空！</span> <br />
							<span th:if="${Email_User_EMail != null}" >Email 不正确！</span> <br />
							<span th:if="${RESULT_USER_0 != null}" >没有此用户！</span>
							<span th:if="${RESULT_USER_1 != null}" >已有此用户！不能重复</span>
						</div>
					 </div>
                 </div>
			</div>
		</div>
		<div id='cr'>
			<div id='char'>copyright ©2013</div>
		</div>
</body>

</html>